{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/products/product_details.css?{% now "U" %}">
{% endblock %}
{% block content %}
    <div class="big-container">
        <div class="photo-container"><img src="{{ MEDIA_URL }}{{ product.photo}}" alt=""></div>
        <div class="item-container">
            <h1 style="text-align: center">{{ product.name }}</h1>
            <p style="margin-bottom: 0">Price: </p>
            <h2 style="margin-top: 0">{{ product.price }} zł</h2>
            <div class="size-choice-container">
                <form action="{% url 'products:add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <select name="size">
                        {% for size in sizes %}
                            {% if size.count >= 1 %}
                                <option value="{{ size.id }}">{{ size.size }}</option>
                            {% else %}
                                <option value="{{ size.id }}" disabled>{{ size.size }} - not available</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="submit-btn"><input type="submit" value="Add to cart"></div>
                </form>
            </div>
        <div style="color: white; font-size: 18px"><p>{{ product.description|linebreaks }}</p></div>
        </div>
    </div>
{% endblock %}