{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/css/products/products_list.css?{% now "U" %}">
{% endblock %}
{% block content %}
    <div class="filter-content">
        <form method="get" class="filters">
            <div class="filter-group1">
                <b>Type</b> {% for choice in filter.form.type %}
                    <label style="display: inline-block; margin-right: 10px;">
                        {{ choice.tag }} {{ choice.choice_label }}
                    </label>
                {% endfor %}
            </div>
            <div class="filter-group2"><b>Price</b> {{ filter.form.price__gte }} | {{ filter.form.price__lte }}</div>
            <div class="filter-group3"><b>Product name</b> {{ filter.form.name }}</div>
            <div class="filter-group4"><input class="filter-button" type="submit" value="SEARCH"/></div>
            <div class="filter-group5"><b>Sort by</b> {{ filter.form.order_by }}</div>
        </form>
    </div>
    <br>
    <div class="products-container">
      {% for product in filter.qs %}
        <div class="product"><a href="{% url 'products:detail_view' product.id %}">
            <img src="{{ MEDIA_URL }}{{ product.photo }}" alt="Product Image">
            <p><b>{{ product.name }}</b> {{ product.price }} zł</p></a>
        </div>
      {% endfor %}
    </div>
{% endblock %}